h1,
h2 {
    text-align: center;
}

h1:not(:first-child),
h2:not(:first-child) {
    margin-top: 50px;
}

div.toc {
    z-index: 1; /* fix overlapping MathJax */
    position: relative;
}

div.contents div.textblock {
    max-width: 600px;
    text-align: justify;
}

div.contents {
    padding-left: 30px;
}
